each picture in locals
    div.photo-card
        img(src= picture.webformatURL alt= picture.tags loading="lazy")
        .info 
            p.info-item
                b Likes #{picture.likes}
            p.info-item
                b Views #{picture.views}
            p.info-item
                b Comments #{picture.comments}
            p.info-item
                b Downloads #{picture.downloads}